* {
    background-color: #edd7d5;
    color: #000000;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.section-container {
    bottom: 2rem;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column-reverse; 
    gap: 5px;           
    padding: 5px;
}

.section { 
    /* one for each kj-project */
    width: 330px;
    height: 80px;  
    text-align: right;
    overflow: hidden;
    transition: height 0.4s ease;
    border-radius: 6px 6px 0 0;
    flex-shrink: 0;
    padding-right: 15px;
    padding-bottom: 15px;
    
    border: 2px solid blue;
}

.section:hover {
    /* increase the height and expand the content */
    height: 220px;
    border: 2px solid #000000;
    text-align: right;
}

.section-button {
    /* the launch button for each kj-project */
    content: 'LAUNCH';
    border-color: #000000;
    border-radius: 4px;
    border-width: 1px;
    padding: 4px 5px;
}

.section-button:hover { 
  cursor: pointer;
  color: black;
  background-color: ##edd7d5;
}

p.section-desc {
    color: blue;
}

.form-variable-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 2rem;
  right: 2rem;
  width: 400px;
  position: fixed;
  color: #000000;
  border: 2px solid blue;
  border-radius: 6px;
  padding: 15px;
  font-size: 14px;
}

.form-variable-container h3 {
  margin-top: 0;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
}

#simulationForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 20px;
  align-items: center;
}

#form-variable-box .form-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 0;
}

#form-variable-box label {
  display: flex;
  padding-top: 5px;
  margin-right: 5px;
  font-weight: bold;
}

#form-variable-box input {
  background: black;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  width: 50%;
  padding: 6px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Removes the default appearance of the spin buttons */
  margin: 0; /* Ensures no extra margin is added */
}

.form-submit-button {
  background-color: #edd7d5;
  color: #000000;
  padding: 8px 12px;
  border: 1px solid #4AF626;
  border-radius: 4px;
  width: 100%;
}

.form-submit-button:hover {
  background-color: #4AF626;
  color: #edd7d5;
  cursor: pointer;
}

/* Globe and Orbit Rendering Styles */
 #globe-container { 
  width: 100vw; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

  #globe-canvas { 
    width: 750px;
    height: 750px; 
    display: block;
    border: 1px solid #fff;
  }